/dash
/database
/Git-2.52.0-64-bit.exe
/monitor.py
/monitor_2.py
/my_session.session
/pytorch
/requirements_32.txt
/stock_func64.py
/stock_industry.csv
/stock_industry.py
/stock_theme.py
/stock_themes.csv
/System_V3
/TensorF
/test.ipynb
/test.py
/test.xlsm
/test_32bit.py
/venv32
/venv64
/~$챗으로 넘어가기전 구조화 강제 요약.docx
/새 챗으로 넘어가기전 구조화 강제 요약.docx
/왕본_주가함수테스트.xlsm
/왕본_주가함수테스트_cli.xlsm